In [6]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('fdf60fc1-c627-4def-bd09-4ac919e44406.csv',sep='\t')

In [3]:
dataset

    Cluster Zero-Order M-Order T-Order ProposedMethod
0         0      1;3;3   3;3;3   3;3;3          1;3;3
1         1      3;3;3   3;3;3   3;3;3          3;1;3
2         2      3;3;3   3;3;3   3;3;3          3;3;3
3         3      1;3;3   3;3;3   3;3;3          3;3;3
4         4      3;3;3   3;3;3   3;3;3          3;3;3
5         5      3;3;3   3;3;3   3;3;3          3;3;3
6         6      3;3;3   3;3;3   3;3;3          3;3;3
7         7      3;3;3   3;3;3   3;3;3          3;3;3
8         8      3;3;3   3;3;3   3;3;3          3;3;3
9         9      3;3;3   3;3;3   3;3;3          3;3;3
10       10      3;3;3   3;3;3   3;3;3          3;3;3
11       11      3;3;3   3;3;3   3;3;3          3;3;3
12       12      3;3;3   3;3;3   3;3;3          3;3;3

In [14]:
def get_total_score(text):
    score = text.split(';')
    score = [int(i) for i in score]
    print(score)
    return np.sum(score)

In [15]:
get_total_score(dataset.iloc[0]['Zero-Order'])

[1, 3, 3]

7