In [61]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from collections import Counter
from sklearn.cluster import KMeans

In [108]:
dataset = ['cat is a cat','cat is lovable','cat eats fish','dog is a faithful animal']

In [109]:
n_clust=2

In [110]:
cnt = CountVectorizer()
voc = cnt.fit_transform(dataset)

In [111]:
kmeans = KMeans(n_clusters=n_clust, random_state=0).fit(voc)

In [112]:
kmeans.labels_

array([0, 0, 0, 1])

In [113]:
vocab = list(cnt.get_feature_names())

In [114]:
vocab

['animal', 'cat', 'dog', 'eats', 'faithful', 'fish', 'is', 'lovable']

In [115]:
len(vocab)

8

In [116]:
df = pd.DataFrame({'text':dataset,'label':kmeans.labels_})

In [117]:
df

                       text  label
0              cat is a cat      0
1            cat is lovable      0
2             cat eats fish      0
3  dog is a faithful animal      1

In [118]:
def get_pd_of_cluster(dataset,cluster_idx):
    dataset_sub = dataset[dataset['label'] == cluster_idx]
    cnt = CountVectorizer()
    voc = cnt.fit_transform(dataset_sub.text)
    vocab = list(cnt.get_feature_names())
    counts = voc.sum(axis=0).A1
    freq_distribution = Counter(dict(zip(vocab, counts)))
    prob = {}
    for w in vocab:
        prob[w] = freq_distribution[w]/np.sum(counts)
    return prob

In [121]:
prob_clusters = []
for i in range(0,n_clust):
    prob_clusters.append(get_pd_of_cluster(df,i))

In [130]:
if 'cat' in prob_clusters[0].keys():
    print('hello')

hello

In [123]:
vocab

['animal', 'cat', 'dog', 'eats', 'faithful', 'fish', 'is', 'lovable']

In [132]:
theta=[]
for i in range(0,n_clust):
    p_w = []
    for w in vocab:
        if w in prob_clusters[i].keys():
            p_w.append(prob_clusters[i][w])
        else:
            p_w.append(0)
    theta.append(p_w)

In [133]:
theta

[[0,
  0.4444444444444444,
  0,
  0.1111111111111111,
  0,
  0.1111111111111111,
  0.2222222222222222,
  0.1111111111111111],
 [0.25, 0, 0.25, 0, 0.25, 0, 0.25, 0]]

In [134]:
x = pd.DataFrame(theta)

In [137]:
x.columns = vocab

In [136]:
len(vocab)

8

In [138]:
x

   animal       cat   dog      eats  faithful      fish        is   lovable
0    0.00  0.444444  0.00  0.111111      0.00  0.111111  0.222222  0.111111
1    0.25  0.000000  0.25  0.000000      0.25  0.000000  0.250000  0.000000

In [139]:
x.shape

(2, 8)

In [140]:
theta=x.values

In [141]:
theta

array([[0.        , 0.44444444, 0.        , 0.11111111, 0.        ,
        0.11111111, 0.22222222, 0.11111111],
       [0.25      , 0.        , 0.25      , 0.        , 0.25      ,
        0.        , 0.25      , 0.        ]])